*{
  margin:0;
}
body {
  font-family: 'Roboto', sans-serif;
  color: black;
}
nav{
  display: flex;
  justify-content: space-between;
  padding-left:50px;
  padding-right:50px;
  align-items: center;
  border-bottom: solid 5px #f9f9f9;
}
.nav-right{
  display: flex;
  align-items: center;
}
.btn{
  border-radius:30px;
  padding:7px;
  padding-left:15px;
  padding-right:15px;
  text-decoration: none;
  margin:10px;
}
nav img{
  height:30px;
}
.nav-right p{
  font-weight: bold;
  margin:10px;
}
.register{
  background:#2d96c8;
  color:white;
}
.login{
  background: white;
  color:#2d96c8;
  border:2px solid #2d96c8;
}
.app{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.top{
  background-image: url("img/hero.png");
  background-position: top right 10%;
  background-size: 45%;
  background-repeat: no-repeat;
  height:50vh;
  width:100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.info{
  width:40%;
  padding-right:10%;
  padding-left:10%;
}
.title{
  font-size:1.9rem;
  font-weight:bold;
}
.top-subtitle{
  color:#ef5466;
  font-weight: bold;
  font-size:1.4rem;
}
.btn-list{
  display: flex;
  margin-top:20px;
}
.premium{
  background-color: #ef5466;
  color:white;
  display: flex;
  align-items: center;
  padding:10px;
  padding-left:30px;
  padding-right:30px;
  font-size:0.7rem;
  font-weight: bold;
}
.gratuit{
  background: white;
  color:black;
  border:2px solid black;
  display: flex;
  align-items: center;
  padding:10px;
  padding-left:30px;
  padding-right:30px;
  font-size:0.7rem;
  font-weight: bold;
}

.phone-section section{
  background-color: #f9f9f9;
  width:100%;
  display: flex; 
  justify-content: center;
  width:100%;
  padding-top:2rem;
  padding-bottom:1rem;
}
.phone-section img{
  height:400px;

}
.phone-right{
  margin-left:30px;
}

.phone-right .title{
  font-weight: bold;
  margin-bottom:30px;
}
.grid-info{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.info-title{
  font-weight: bold;
  font-size:1rem
}
.info-text{
  font-size:0.7rem;
  margin-top:20px;
}

.infos{
  width:250px;
}


.section-red{
  background-color: #ef5466;
  color:white;
  padding:2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.svg{
  display: flex;
  width:50%;
  justify-content: center;
}
.svg svg{
  height:40px;
  margin:10px;
}
.text-red{
  width:50%;
}
.text-red .title{
  margin-bottom:20px;
}